.home_container {
  height: 1014px;
  width: "100%";
  padding-top: 8px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://cdn4.vectorstock.com/i/1000x1000/98/48/beautiful-girl-texting-on-her-phone-while-sitting-vector-35719848.jpg");
  background-size: cover;
  background-color: rgb(36, 161, 161);
}
